@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<FinWebMvcIdentity.Models.Record>

@{
    ViewData["Title"] = "Index";    
}

<br />

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Alerta:</strong> @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        setTimeout(function() {
            var alert = document.querySelector('.alert');
            if (alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(function() {
                    alert.remove();
                }, 150);
            }
        }, 5000);
    </script>
}

<div class="card text-center">
    <h1>Lançamentos</h1>
</div>
<br />
<table class="table table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MaturityPaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>            
            <th>Editar/Excluir</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaturityPaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>            
            <td>
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        ContainerDivClasses = new[] { "pagination", "justify-content-center" }
    })
</div>